<form action="/auth/login" method="POST">
    <h1>Log In</h1>

    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}

    <input type="text" name="email" placeholder="Enter your email address">
    <input type="password" name="password" placeholder="Enter your password">
    <input type="submit" value="Log In">
</form>