<form action="/auth/register" method="POST">
    <h1>Become a Cool Guy</h1>

    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}

    <input type="text" name="email" placeholder="Enter your email address">
    <input type="password" name="password" placeholder="Enter your password">
    <button>Register</button>
</form>